{% extends 'base.html' %}
{% block content %}
    <div class="col-xs-6">
        {% from '_macros.html' import render_field %}
        <form action="/cookie" method="post" novalidate>
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="row control-group">
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
            </div>
            <input class="btn btn-default btn-primary" type="submit" id="al" value="Registrar">
        </form>   
    </div>
    <div class="col-md-4">
        
    </div>
{% endblock %}